services:
  backend:
    build:
      context: ./backend
    container_name: uqlnf-backend
    ports:
      - "3000:3000"
    env_file:
      - ./backend/.env

  frontend:
    build:
      context: ./frontend
      args:
        REACT_APP_API_BASE: "http://localhost:3000"
    container_name: uqlnf-frontend
    ports:
      - "8080:80"
    depends_on:
      - backend
